.topSide {
  padding: 130px 0 167px 0;
  max-width: 1800px;
  background: #fbfbfb;

  h3 {
    max-width: 1173px;
    margin: 0 auto;
    margin-bottom: 75px;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
  }

  .teamMembers {
    margin: 0 auto;
    max-width: 1173px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .teamMemberBlock {
      width: 370px;
      height: 398px;
      display: flex;
      align-items: flex-end;

      .basicInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 370px;
        height: 55px;
        background-color: #ffffff7f;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1.152px;
        color: #252525;
      }

      .creativeDirectorInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 370px;
        height: 155px;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1.152px;
        color: #252525;
        background-color: RGBA(255, 255, 255, 0.92);

        .name {
          padding-top: 20px;
        }

        .underline {
          margin: 9px 0 6px 0;
          width: 45px;
          height: 2px;
          background: #252525;
        }

        p {
          font-family: "Open Sans";
          font-weight: normal;
          font-size: 12px;
          line-height: 25px;
          letter-spacing: 1.008px;
          color: #777777;
        }
      }
    }
  }
}

.bottomSide {
  margin: 115px auto;
  max-width: 1185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  p {
    width: 735px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.896px;
    color: #373737;
  }

  .img99 {
    margin-top: 30px;
  }

  .teamMemberInfo {
    margin-top: 30px;

    .name {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1.152px;
      color: #373737;
    }

    .direction {
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
      letter-spacing: 1.152px;
      opacity: 0.5;
    }

    .rating {
      img {
        padding: 0 4.5px;
      }

      .notActive {
        opacity: 0.2;
      }
    }
  }

  .underline {
    margin-top: 30px;
    width: 511px;
    height: 1px;
    background: #d8d8d8;
    opacity: 0.5;
  }

  .arrowButton {
    position: absolute;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    bottom: 7px;
  }

  .leftArrow {
    left: 359px;
  }

  .rightArrow {
    right: 359px;
  }
}
