.weSquad {
  max-width: 1800px;
  padding: 150px 0 382px 0;

  .info {
    width: 1185px;
    margin: 0 auto;
    padding-top: 72px;
    position: relative;

    span {
      display: block;
    }

    .weAre {
      font-weight: bold;
      font-size: 36px;
      line-height: 53px;
      letter-spacing: 2.304px;
      color: #333333;
    }

    .theSqwd {
      padding: 0px;
      margin: 0;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 42px;
      line-height: 57px;
      letter-spacing: 2.688px;
      color: #504e4e;
      z-index: 4;
    }

    p {
      position: relative;
      padding-left: 50px;
      max-width: 280px;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 1.26px;
      color: #5b5858;
      z-index: 4;

      div {
        position: absolute;
        width: 20px;
        height: 2px;
        left: 20px;
        top: 12px;
        background: #353535;
      }
    }

    .leftParagraph {
      margin-top: 35px;
    }

    .firstImg {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 193px;
    }

    .greenBlock {
      z-index: 2;
      position: absolute;
      width: 309px;
      height: 418px;
      left: 403px;
      top: 62px;
      background: #4caf50;
      opacity: 0.8;
    }

    .secondImg {
      position: absolute;
      width: 309px;
      height: 391px;
      left: 613px;
      top: 168px;
    }

    .rightParagraph {
      position: absolute;
      left: 850px;
      top: 380px;
    }
  }
}
